# ซ่อนไฟล์ฐานข้อมูลทั้งหมด
*.db
bagley_memory.db

# ซ่อนไฟล์เสียง MP3 ทั้งหมด (ไฟล์ drone, greeting, speak ต่าง ๆ จะโดนซ่อนหมดเลยครับ)
*.mp3

# ซ่อนคีย์ลับของระบบ (พิมพ์เผื่อไว้ล่วงหน้าได้เลยครับเมท)
.env

# ซ่อนไฟล์เก็บข้อมูล JSON ทั้งหมดของระบบบอท
*.json

# ไฟล์รันแบ็คลี่
run_bagley.vbs

# ตัวเริ่มแบบไม่แสดงหน้า Terminal
start_hidden.bat.bat